* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

html, body, #root {
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 2px;
    padding: 0px;
}

#header-and-main {
    min-height: 85vh;
}

.linksMenu:link, .linksMenu:active, .linksMenu:visited {
    text-decoration: none;
    /* color: black; */
}

.linksMenu:hover {
    color: #949494;
}

.linksNav {
    color: white;
    background-color: #091e63;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    vertical-align: middle;
    line-height: 60px;
    z-index: 1;
}

@media (min-width: 599px) {
    .linksNav {
        flex-grow: 1;
        width: fit-content;
    }
}

.linksNav:hover {
    background-color: #353535;
}

.linksNav:active {
    background-color: #1f1f1f;
}