* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

html, body, #root {
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 2px;
    padding: 0px;
}

.bodyScrollX {
    overflow-x: hidden;
}

.removeScroll {
    overflow-y: hidden;
}

#header-and-main {
    min-height: 85vh;
}

.linksMenu:link, .linksMenu:active, .linksMenu:visited {
    text-decoration: none;
    /* color: black; */
}

.linksMenu:hover {
    color: #949494;
}

.slideIn {
    animation: slideIn 1.0s ease forwards;
}

.fadeIn {
    animation: fadeIn 1.0s ease forwards;
}

@keyframes slideIn {
    100% { transform: translateX(0%); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.linksNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #091e63;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* line-height: normal; */
    /* line-height: 60px; */
    z-index: 1;
}

.linksNav:hover {
    background-color: #353535;
}

.linksNav:active {
    background-color: #1f1f1f;
}

.textArea {
    resize: vertical;
    max-height: 480px;
    min-height: 80px;
}

.sairNav {
    background-color: #850900;
    flex: 0 2 1%;
    cursor: pointer;
}

.settingsNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1134a7;
}

::-webkit-resizer {
    background-color: #d3d3d3;
    border-top-left-radius: 5px;
}

#botaoAuth, .modalButton {
    cursor: pointer;
}

#botaoAuth:hover, .modalButton:hover {
    background-color: #cfcfcf !important;
}

#botaoAuth:active, .modalButton:active {
    background-color: #707070;
}

.modalButton {
    border: 1px solid black;
    background-color: #e0e0e0 !important;
}

@media (max-width: 330px) {

    .imgsHeader {
        width: 60px !important;
        padding: 0 0 !important;
    }

    .imgsHeader > * {
        width: 100% !important;
        padding: 0 0 !important;
    }

    .title {
        display: none;
    }

}

@media (min-width: 599px) {

    .linksNav {
        flex-grow: 1;
        width: fit-content;
    }

    .columnRelationship {
        margin: 0 2vw;
    }

}