* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

html, body, #root {
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 2px;
    padding: 0px;
}

.bodyScrollX {
    overflow-x: hidden;
}

.removeScroll {
    overflow-y: hidden;
}

#header-and-main {
    min-height: 85vh;
}

.linksMenu:link, .linksMenu:active, .linksMenu:visited {
    text-decoration: none;
    /* color: black; */
}

.linksMenu:hover {
    color: #949494;
}

.slideIn {
    animation: slideIn 1.0s ease forwards;
}

@keyframes slideIn {
    100% { transform: translateX(0%); }
}

.linksNav {
    color: white;
    background-color: #091e63;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    vertical-align: middle;
    line-height: 60px;
    z-index: 1;
}

.linksNav:hover {
    background-color: #353535;
}

.linksNav:active {
    background-color: #1f1f1f;
}

.textAreaDescricao {
    resize: vertical;
    max-height: 480px;
    min-height: 80px;
}

::-webkit-resizer {
    background-color: #d3d3d3;
    border-top-left-radius: 5px;
}

@media (max-width: 330px) {

    .imgsHeader {
        width: 60px !important;
        padding: 0 0 !important;
    }

    .imgsHeader > * {
        width: 100% !important;
        padding: 0 0 !important;
    }

    .title {
        display: none;
    }

}

@media (min-width: 599px) {
    .linksNav {
        flex-grow: 1;
        width: fit-content;
    }
}